<div class="row">
  <div class="col-md-5">
    {% include "AWPlansBundle:Releves:header_infos_site.html.twig" %}
  </div>
  <div class="col-md-6 col-md-offset-1">
    {#infos interventions#}
    {% include "AWPlansBundle:Releves:header_infos_intervention.html.twig" %}
  </div>
</div>